{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block nav_new_post %}active{% endblock %}
{% block content %}

<div class="container">
    <form method="POST" action="/new">
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class='fa fa-fw fa-user'></i></div>
                </div>
                <input type="text" class="form-control" name="author" placeholder="Your Name">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class='fa fa-fw fa-quote-left'></i></div>
                </div>
                <textarea class="form-control" name="quote" rows="5" placeholder="Quote goes here"></textarea>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class='fa fa-fw fa-tags'></i></div>
                </div>
                <input type="text" class="form-control" name="tags" placeholder="Comma separated tags">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}
